* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "stoked";
    src: url(stoked.ttf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(12, 12, 65);
    color: white;
    border: 10px;
}

h1, h2 {
    font-family: "stoked", sans-serif;
    margin-top: 16px;
    color: rgb(232, 232, 50);
    font-weight: bolder;
    font-size: 550%;
    text-align: center;
}

nav {
    background-color: rgb(9, 9, 96);
    padding: 8px;
    justify-content: center;
    display: flex;
    gap: 80px;

}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 10px 0;
    margin-top: 20px;
    display: block;
    text-align: center;
}
p   {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-indent: 2em;
    margin-left: 2%;
    margin-top: 2%;
    padding: 1%;
    margin: 1%;
}

.cabecalho {
    width: 100%;
    background-color: rgb(143, 7, 7);
    padding: 20px;
    align-items: left;
    
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    display: inline-block;
    flex-direction: column;
}

.titulo_container {
    text-align: center;
}

.socialismo_imagem {
    width: 100px;
    display: block;
    margin: 0 auto;
}

.bandeira_imagem {
    display: block;
    margin: 15em auto;
    width: 80%;
    max-width: 800px;
    margin-top: 2%;
}
.rivais {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 400px;
    float: right;
    margin-top: -360px;
    margin-right: 6%;
}
/* Responsividade */
@media screen and (max-width: 780px) {
    h1, h2 {
        font-size: 2.5em;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    a {
        font-size: 1.5em;
        padding: 10px;
        display: block;
    }

    .bandeira_imagem {
        margin-top: 5em;
        width: 90%;
    }

    .cabecalho {
        flex-direction: column;
        padding: auto;
        text-align: center;
    }

    .socialismo_imagem {
        width: 80px;
        margin-top: 10px;
    }
    .rivais {
        display: block;
        margin: auto;
        width: 80%;
        max-width: 400px;
        margin-top: 20px;
        margin-right: 16%;
    }
}
