* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "stoked";
    src: url(stoked.ttf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(12, 12, 65);
    color: white;
}

h1, h2 {
    font-family: "stoked", sans-serif;
    margin-top: 16px;
    color: rgb(232, 232, 50);
    font-weight: bolder;
    font-size: 4.5em;
    text-align: center;
}

nav {
    background-color: rgb(9, 9, 96);
    padding: 8px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 35px;
    margin-top: 20px;
}

.cabecalho {
    width: 100%;
    background-color: rgb(143, 7, 7);
    padding: 60px;
    align-items: left;
    
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.titulo_container {
    text-align: center;
}

.socialismo_imagem {
    width: 100px;
}

.bandeira_imagem {
    display: block;
    margin: 15em auto;
    width: 80%;
    max-width: 800px;
}

/* Responsividade */
@media screen and (max-width: 780px) {
    h1, h2 {
        font-size: 2.5em;
    }

    a {
        font-size: 1.5em;
        padding: 20px;
    }

    .bandeira_imagem {
        margin-top: 5em;
        width: 90%;
    }

    .cabecalho {
        flex-direction: column;
    }

    .socialismo_imagem {
        width: 80px;
        margin-top: 10px;
    }
}
