* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(12, 12, 65);
    color: white;
}
h1 {
    margin-top: 16px;
    color: black;
    font-weight: bolder;
    font-size: 4em;
}
nav {
    margin-top: 5em;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 2em;
    padding: 35px;
}
.cabeçalho {
    width: 100%;
    background-color: aliceblue;
    padding: 30px;
    text-align: center;
    border-radius: 3px;
}
.bandeira_imagem {
    display: block;
    margin: 15em auto;
    width: 80%;
    max-width: 800px;
}
/* Resonsividade para telas mais pequenas, abaixo de 760px */
@media screen and (max-width: 780px) {
    h1 {
        font-size: 2.5em;
    }
    a {
        font-size: 1.5em;
        padding: 20px;
    }
    .bandeira_imagem {
        margin-top: 5em;
        width: 90%;
    }
}
